{% extends "base.html" %}
{% block title %}Product Detail{% endblock %}
{% block content %}
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
                     src="{{ product.image.url }}">
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ product.category }}</h2>
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ product.name }}</h1>
                    <div class="flex mb-4">
                    <span class="flex items-center">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="2" class="w-4 h-4 text-lime-900" viewBox="0 0 24 24">
                            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                        </svg>
                    </span>
                    </div>
                    <p class="leading-relaxed">{{ product.description }}</p>
                    <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5"></div>
                    <div class="flex">
                        <span class="title-font font-medium text-2xl text-gray-900">${{ product.price }}</span>
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'add_to_cart' product.pk %}" class="flex ml-auto">
                                {% csrf_token %}
                                <input type="number" name="quantity" id="quantity"
                                       class="mr-2 border-2 border-gray-300 rounded py-2 px-4 focus:outline-none"
                                       value="1" min="1">
                                <button type="submit"
                                        class="text-white bg-lime-600 border-0 py-2 px-6 focus:outline-none hover:bg-lime-500 rounded">
                                    Add to Cart
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Reviews Section -->
    <h1 id="reviews" class="title-font sm:text-5xl text-16xl mb-12 ml-16 font-bold text-gray-900 text-center mt-14">
        Customers Reviews</h1>
    <a href="#"><img src="" class="scale-125 mb-20 margin"></a>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-13 mx-auto">
            <div class="flex flex-wrap -m-4">
                {% for review in product.reviews.all %}
                    <div class="p-4 md:w-1/2 w-full">
                        <div class="h-full bg-lime-600 p-8 rounded text-white">
                            <p class="leading-relaxed mb-6">{{ review.comment }}</p>
                            <a class="inline-flex items-center">
                                <img alt="testimonial" src=""
                                     class="w-14 h-14 rounded-full flex-shrink-0 object-cover object-center">
                                <span class="flex-grow flex flex-col pl-4">
                            <span class="title-font font-medium text-gray-900 text-2xl">{{ review.user.username }}</span>
                            <span class="text-white text-2xs">{{ review.rating }} Stars</span>
                        </span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% if user.is_authenticated %}
        <h3 class="title-font sm:text-3xl text-2xl mb-4 ml-16 font-bold text-gray-900">Leave a review</h3>
        <form method="post" action="{% url 'add_review' product.pk %}" class="container px-5 py-5 mx-auto">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button type="submit"
                    class="mt-4 text-white bg-lime-600 border-0 py-2 px-6 focus:outline-none hover:bg-lime-500 rounded">
                Submit
            </button>
        </form>
    {% endif %}
{% endblock %}
