<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ecommerce Website{% endblock %}</title>
    <link rel="icon" href="">
    <!-- Link CSS  -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Link Tailwind CSS  -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
<!-- Navbar Design  -->
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <span class="ml-3 text-xl"><img src="" class="cursor-pointer"></span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a href="{% url 'home' %}"
               class="mr-10 text-lime-600 font-semibold cursor-pointer hover:text-lime-500 text-lg">Home</a>
            <a href="{% url 'product_list' %}"
               class="mr-10 text-lime-600 font-semibold cursor-pointer hover:text-lime-500 text-lg">Products</a>
            <a href="#reviews" class="mr-10 text-lime-600 font-semibold cursor-pointer hover:text-lime-500 text-lg">Reviews</a>
            <a href="#pricing" class="mr-10 text-lime-600 font-semibold cursor-pointer hover:text-lime-500 text-lg">Pricing</a>
            <a href="#contact" class="mr-10 text-lime-600 font-semibold cursor-pointer hover:text-lime-500 text-lg">Contact</a>
        </nav>
        <button class="inline-flex items-center bg-lime-700 border-0 py-2 px-8 focus:outline-none hover:bg-lime-600 rounded text-base mt-4 md:mt-0 text-white text-12xl">
            Enroll Now
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                 class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</header>
{% block content %}{% endblock %}
<!-- JS Link  -->
<script src="{% static 'script.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
